<!DOCTYPE html>
<html ng-app="twitterApp">
	<head>
		 <!-- START METADATA -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Should I Follow?</title>
		<meta content="text/javascript" http-equiv="Content-Script-Type">
		<meta content="text/css" http-equiv="Content-Style-Type">
		<meta content="NOINDEX, NOFOLLOW" name="robots">
		<!-- END METADATA -->	
		<!-- START CSS -->		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/superhero/bootstrap.min.css" >
		<link rel="stylesheet" href="styles/styles.css" >
		<!-- END CSS -->		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>		
		<script>
			angular.module('twitterApp', ['ngResource'])			
			.factory('TwitterUser', ['$resource', function($resource){
				return $resource("php/twitterconnect.php?id=:id");	
			}])
			.factory('KloutUser', ['$resource', function($resource){
				return $resource("php/kloutconnect.php?id=:id");
			}])
			.filter('datetime', function($filter)
			{
				return function(input)
				{
					if(input == null){ return ""; }
					var _date = $filter('date')(new Date(input),
						'MMMM d, y - hh:mm:ss');
					return _date;
				};
			})
			.filter('verifiedFilter', function () {
				return function (input) {				  
				   if (input == true) {
						input = 'yes';
					} else if (input == false){
						input = 'no';
					}				   
				   return input;
				}
			})
			.filter('locationFilter', function () {
				return function (input) {
					var userlocation = "location not set";
					if(input != ""){				
						userlocation = "located in " + input;
					}									   
				   return userlocation;
				}
			})
			.filter('profileimageFilter', function () {
				return function (input) {
				   if (input == null) {return ""; }				   
				   var imageformat = input.substr(input.lastIndexOf('.') + 1);
				   var trimmedinput = input.substring(0, input.indexOf('_normal'));
				   if (imageformat == 'png') {
						var original_profileimage = trimmedinput + '.png';
					} else if (imageformat == 'jpg'){
						var original_profileimage = trimmedinput + '.jpg';
					} else if (imageformat == 'jpeg'){
						var original_profileimage = trimmedinput + '.jpeg';
					}
				   return original_profileimage;
				}
			})
			.controller('mainController', function($scope, TwitterUser, KloutUser) {
				$scope.loading = false;				
				$scope.kloutscore = null;
				$scope.error = false;
				$scope.users = [];
				$scope.getResult = function(id){
					$scope.users = [];
					$scope.loading = true;
					TwitterUser.get({
						id: id
					}, function(user) {						
						if(user.error) {
							$scope.error = true;
							$scope.message = "Validation Error please fill the user_id or screen_name field";
						}else{
							if(!user.errors){
								console.log(user);
								$scope.users.push(user);
								$scope.error = false;
							}else{            
								$scope.error = true;
								$scope.message = user.errors[0]['message']+" - "+user.errors[0]['code'] ;
							}               
						}                      
					}).$promise.then(function(user){
						KloutUser.get({
							id: user.id
						}, function(userkloutscore) {
							if(!userkloutscore) {							
								console.log('An error occurred. No Klout score returned.');
							}else{
								$scope.kloutscore = userkloutscore.score;
								var score_stringified = JSON.stringify(userkloutscore);
								console.log('The Klout API response: ' + score_stringified);
							}
						});
					});
					$scope.loading = false;
				};				
				$scope.removeUser = function(index){
					$scope.users.splice(index, 1);
				}; 
			});
		</script>
	</head>
	<body ng-controller="mainController">		
		<div class="container">			
			<div class="row">
				<div class="col-md-3 sidebar">
					<div class="sidebar-content">
						<h5>ABOUT FOLLOW INSIGHT</h5>
						<p>When using Twitter there are times when you're not sure
						if it's worthwhile to follow someone. The Follow Insight app
						can look up any Twitter user by screenname and provide insight about 
						that user.
					</div>
				</div>				
				<div class="col-md-9 main">
					<h1>Follow Insight</h1>
					<form class="form-inline" role="form">
						<div class="form-group">
							<label for="email address"class="">Should I follow. . . </label>
							<input class="form-control"  type="text" placeholder="Search by screenname" ng-model="id" ng-keypress="($event.which === 13)?getResult(id):0" required>
							<a class="btn btn-primary"  role="button" ng-click="getResult(id)">Get Insight</a>
						</div>			
					</form>
					<div class="userinfo">
						<div class="row">
							<img width="75" height="75" id="loadspinner" src="styles/bluespinner.gif" ng-if="loading" alt="loading" />
							<div class="col-md-offset-1 col-md-11" ng-repeat="user in users" ng-show="users.length">								
								<div class="table-responsive">
									<table class="sectionsection-container">
										<tr>
											<td class="profileimage">
												<img width="150" height="150" alt="Twitter profile image" src="{{ user.profile_image_url | profileimageFilter }}">
											</td>
											<td>
												<table class="secondsection-content">
													<tr>
														<td>
															<h2>{{ user.name }}</h2>
														</td>
													</tr>
													<tr>
														<td>
															{{ user.screen_name }}
														</td>
													</tr>
													<tr>
														<td>
															{{ user.location | locationFilter }}
														</td>
													</tr>
													<tr>
														<td>
															{{ user.description }}
														</td>
													</tr>
													<tr>
														<td>
															<div class="secondsection-content"><span class="output">{{ user.followers_count | number:0 }}</span> followers</div>
															<div class="secondsection-content"><span class="output">{{ user.friends_count | number:0 }}</span> following</div>
														</td>														
													</tr>
													<tr>
														<td>
															<div class="secondsection-content"><span class="output">{{ user.statuses_count | number:0 }}</span> tweets</div>
															<div class="secondsection-content"><span class="output">{{ user.favourites_count | number:0 }}</span> favorited tweets</div>
														</td>
														<td>
															
														</td>
													</tr>
													<tr>
														<td>
															<div class="secondsection-content">member of <span class="output">{{ user.listed_count | number:0 }}</span> lists</div>
															<div class="secondsection-content">user verified: <span class="output">{{ user.verified | verifiedFilter }}</span></div>
														</td>															
													</tr>
													<tr>
														<td colspan="2">
															last status update:&nbsp; <span class="output">{{ user.status.created_at | datetime }}</span>
														</td>
													</tr>
													<tr>
														<td colspan="2">
															joined Twitter on:&nbsp; <span class="output">{{ user.created_at | datetime }}</span>
														</td>
													</tr>
													<tr>
														<td colspan="2">
															Klout score <span class="output">{{ kloutscore }}</span>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</div>									
							</div>
						</div>
					</div>		
					<div ng-show="error">
						<p>{{ message }}</p>
					</div>
				</div>
			</div>
			
		</div>
	</body>
</html>
